#accordion-container {
    width: 100%;
    margin-top: 30px;
}

#accordion-container details {
    margin-bottom: 30px;
}

#accordion-container summary{
    width: 210px;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 10px;
}

#accordion-container > details:target {
    scroll-margin-top: 100px;
}