#register-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    height: 400px;
}
form label {
    display: block;
}

#comments {
    resize: none;
    height: 80px;
}

input, button, select, textarea {
    outline: none;
}

input:focus, button:focus, select:focus, textarea:focus {
    border: 1px solid lightseagreen;
}

.input, .button {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid #B5B2B2;
    border-radius: 5px;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
}

.button {
    cursor: pointer;
}

form .button:hover {
    background-color: #AEABAB;
    transition: background-color ease-in .2s ;
}

@media(max-width: 399px){
    #register-product {
        width: 280px;
    }
}

@media(min-width: 400px) and (max-width: 599px){
    #register-product {
        width: 350px;
    }
}

@media(min-width: 600px){

    #category-container {
        grid-area: category;
    }

    #name-container {
        grid-area: name;
    }

    #expiration-container {
        grid-area: expiration;
    }

    #quantity-container {
        grid-area: quantity;
    }

    #comments-container {
        grid-area: comments;
    }

    #botao-cadastrar {
        grid-area: submit;
    }

    #notifications-alert {
        justify-content: flex-end;
        right: 10px;
    }

    #register-product {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "category name"
            "expiration quantity"
            "comments comments"
            "submit submit"
        ;
        width: 80%;
        height: auto;
    }
}