#modal-atualizar {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #CAFFB8;
    top: 150px;
    padding: 40px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 50px rgba(0,0,0,0.5);
}

#modal-atualizar.close {
    display: none;
}

#modal-atualizar > * {
    margin: 0;
}

.closed-icon {
    background: url("../../img/xmark-solid.svg") no-repeat center;
}

/* #modal-atualizar::before {
    z-index: -1;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
} */