#login-icon {
    padding: 5px;
}

#user-actions {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#user-options {
    visibility: hidden;
    position: absolute;
    bottom: -80px;
    z-index: 1;
    width: 200px;
    overflow-y: auto;
}

#user-actions:hover > #user-options {
    visibility: visible;
}

#user-options > li a {
    padding: 10px;
    cursor: pointer;
}